.header-dark {
    background: url(../../assets/img/mountain_bg.jpg) #444;
    background-size: cover;
    padding-bottom: 80px
}

@media (min-width: 768px) {
    .header-dark {
        padding-bottom: 120px
    }
}

.header-dark .navbar {
    background: 0 0;
    padding-top: 0;
    padding-bottom: 0;
    color: #fff;
    border-radius: 0;
    box-shadow: none;
    border: none
}

@media (min-width: 768px) {
    .header-dark .navbar {
        padding-top: .75rem;
        padding-bottom: .75rem
    }
}

.header-dark .navbar .navbar-brand {
    font-weight: 700;
    color: inherit
}

.header-dark .navbar .navbar-brand:hover {
    color: #f0f0f0
}

.header-dark .navbar .navbar-collapse span {
    margin-top: 5px
}

.header-dark .navbar .navbar-collapse span .login {
    color: #d9d9d9;
    margin-right: .5rem;
    text-decoration: none
}

.header-dark .navbar .navbar-collapse span .login:hover {
    color: #fff
}

.header-dark .navbar .navbar-toggler {
    border-color: #747474;
    color: #eee
}

.header-dark .navbar .navbar-toggler:hover, .header-dark .navbar-toggler:focus {
    background: 0 0
}

.header-dark .navbar .form-inline, .header-dark .navbar .navbar-collapse {
    border-color: #636363
}

@media (min-width: 992px) {
    .header-dark .navbar.navbar .navbar-nav .nav-link {
        padding-left: 1.2rem;
        padding-right: 1.2rem
    }
}

.header-dark .navbar.navbar-dark .navbar-nav .nav-link {
    color: #d9d9d9
}

.header-dark .navbar.navbar-dark .navbar-nav .nav-link:focus, .header-dark .navbar.navbar-dark .navbar-nav .nav-link:hover {
    color: #fcfeff !important;
    background-color: transparent
}

.header-dark .navbar .navbar-nav > li > .dropdown-menu {
    margin-top: -5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
    background-color: #fff;
    border-radius: 2px
}

.header-dark .navbar .dropdown-menu .dropdown-item, .header-dark .navbar .dropdown-menu .dropdown-item:focus {
    line-height: 2;
    font-size: 14px;
    color: #37434d
}

.header-dark .navbar .dropdown-menu .drodown-item:hover, .header-dark .navbar .dropdown-menu .dropdown-item:focus {
    background: #ebeff1
}

.header-dark .navbar .action-button, .header-dark .navbar .action-button:active {
    background: #208f8f;
    border-radius: 20px;
    font-size: inherit;
    color: #fff;
    box-shadow: none;
    border: none;
    text-shadow: none;
    padding: .5rem .8rem;
    transition: background-color .25s
}

.header-dark .navbar .action-button:hover {
    background: #269d9d
}

.header-dark .navbar .form-inline label {
    color: #ccc
}

.header-dark .navbar .form-inline .search-field {
    display: inline-block;
    width: 80%;
    background: 0 0;
    border: none;
    border-bottom: 1px solid transparent;
    border-radius: 0;
    box-shadow: none;
    color: inherit;
    transition: border-bottom-color .3s
}

.header-dark .navbar .form-inline .search-field:focus {
    border-bottom: 1px solid #ccc
}

.header-dark .hero {
    margin-top: 60px
}

.header-dark .hero h1 {
    color: #fff;
    font-family: Bitter, serif;
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 80px
}

@media (min-width: 768px) {
    .header-dark .hero {
        margin-top: 20px
    }

    .header-dark .hero h1 {
        margin-bottom: 50px;
        line-height: 1.5
    }
}

.header-dark .hero .embed-responsive iframe {
    background-color: #666
}

.custom-header {
    background: #292c2f;
    padding: 20px 40px;
    box-sizing: border-box;
    border: 0;
    border-radius: 0
}

.custom-header a.navbar-brand {
    color: #fff;
    font: 400 28px Cookie, Arial, Helvetica, sans-serif;
    line-height: .5;
    margin-right: 40px;
    background: #292c2f
}

.custom-header a.navbar-brand span {
    color: #bc40df
}

.custom-header ul.nav.navbar-nav.links li a {
    font: 14px Arial, Helvetica, sans-serif;
    opacity: .9;
    text-decoration: none;
    color: #fff;
    background: #292c2f;
    border: 0
}

.custom-header ul.nav.navbar-nav li a:hover {
    opacity: 1
}

.custom-header .badge {
    position: absolute;
    top: 4px;
    border-radius: 2px;
    font-size: 11px;
    color: #fff;
    background-color: #2A6A92;
    padding: 2px 4px;
    font-weight: 400
}

.custom-header li.dropdown, .custom-header li.dropdown.open {
    background: #3a3c3e
}

.custom-header li.dropdown .dropdown-toggle {
    border-radius: 2px;
    color: #fff;
    padding: 8px 14px;
    background: #3a3c3e;
    opacity: .9;
    border: 0;
    margin: 0
}

.custom-header li.dropdown .dropdown-toggle:active, .custom-header li.dropdown .dropdown-toggle:focus, .custom-header li.dropdown .dropdown-toggle:hover {
    background: #3a3c3e;
    color: #fff
}

.custom-header ul.nav.navbar-nav.navbar-right .dropdown li a {
    font: 700 13px Arial, Helvetica, sans-serif
}

img.dropdown-image {
    border-radius: 50%;
    width: 32px;
    margin-left: 10px
}

.custom-header .dropdown ul {
    background-color: #3a3c3e;
    border: 0;
    min-width: 140px
}

.custom-header .dropdown ul li {
    background-color: #3a3c3e;
    padding: 7px;
    text-align: center
}

.custom-header .dropdown ul li a {
    background: #3a3c3e;
    border-radius: 2px;
    color: #fff;
    padding: 0
}

.custom-header .dropdown ul li a:active, .custom-header .dropdown ul li a:focus, .custom-header .dropdown ul li a:hover {
    background: #3a3c3e
}

.custom-header .dropdown ul li.active a {
    color: #e9ac09 !important
}

.navigation-clean-button {
    background: #222;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #f2f5f8;
    border-radius: 0;
    box-shadow: none;
    border: none;
    margin-bottom: 0
}

@media (max-width: 767px) {
    .navigation-clean-button {
        padding-top: 0;
        padding-bottom: 0
    }

    .navigation-clean-button .navbar-header {
        padding-top: 10px;
        padding-bottom: 10px
    }

    .navigation-clean-button .navbar-right {
        margin-bottom: 20px
    }
}

.navigation-clean-button .navbar-brand {
    font-weight: 700;
    color: inherit
}

.navigation-clean-button .navbar-brand:hover {
    color: #1485ee
}

.navigation-clean-button .navbar-brand img {
    height: 100%;
    display: inline-block;
    margin-right: 10px;
    width: auto
}

.navigation-clean-button .navbar-toggle {
    border-color: #ddd
}

.navigation-clean-button .navbar-toggle:focus, .navigation-clean-button .navbar-toggle:hover {
    background: 0 0
}

.navigation-clean-button .navbar-toggle .icon-bar {
    background-color: #888
}

.navigation-clean-button .navbar-collapse, .navigation-clean-button .navbar-form {
    border-top-color: #ddd
}

.navigation-clean-button .navbar-nav > .active > a, .navigation-clean-button .navbar-nav > .open > a {
    background: 0 0;
    box-shadow: none
}

.navigation-clean-button.navbar-default .navbar-nav > .active > a, .navigation-clean-button.navbar-default .navbar-nav > .active > a:focus, .navigation-clean-button.navbar-default .navbar-nav > .active > a:hover {
    color: #e04c40;
    border-top: 1px solid #e04c40;
    box-shadow: none;
    transition: background-color .25s;
    background: 0 0;
    pointer-events: none
}

.navigation-clean-button.navbar .navbar-nav > li > a {
    padding-left: 18px;
    padding-right: 18px
}

.navigation-clean-button.navbar-default .navbar-nav > li > a {
    color: #dfe8ee;
    font-weight: 400;
    text-transform: uppercase;
    font-family: 'Work Sans'
}

.navigation-clean-button.navbar-default .navbar-nav > li > a:focus, .navigation-clean-button.navbar-default .navbar-nav > li > a:hover {
    color: #e04c40 !important;
    border-top: solid 1px #e04c40;
    background-color: transparent;
    transition: background .2s ease, padding .8s linear;
    transition: background-color .25s
}

.navigation-clean-button .navbar-nav > li > .dropdown-menu {
    margin-top: -5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
    background-color: #222;
    border-radius: 2px
}

.navigation-clean-button .dropdown-menu > li > a, .navigation-clean-button .dropdown-menu > li > a:focus {
    line-height: 2;
    font-size: 14px;
    font-weight: 300;
    font-family: Roboto;
    color: #df4c40
}

.navigation-clean-button .dropdown-menu > li > a:focus, .navigation-clean-button .dropdown-menu > li > a:hover {
    background: #df4c40;
    color: inherit;
    transition: background-color .25s;
    transition-timing-function: ease;
    transition-timing-function: cubic-bezier(.25, .1, .25, 1)
}

.navigation-clean-button .actions {
    margin-top: 7px;
    margin-bottom: 0
}

.navigation-clean-button .actions .login {
    margin-right: 7px;
    text-decoration: none;
    color: #fff
}

.navigation-clean-button .action-button, .navigation-clean-button .action-button:active {
    background: 0 0;
    border-radius: 0;
    color: #e04c40;
    box-shadow: none;
    border: 1px solid #e04c40;
    text-shadow: none;
    padding: 10px 22px;
    transition: background-color .25s
}

.navigation-clean-button .action-button:hover {
    background: #e04c40;
    color: #fff;
    font-weight: 400;
    border: 1px solid #df4c40
}

.navbar {
    margin-bottom: 0
}

.btn {
    border-radius: 0
}

a.navbar-brand.navbar-link {
    font-weight: 400
}

p.navbar-text.navbar-right.actions {
    font-family: 'Roboto Slab';
    text-transform: uppercase;
    font-weight: 400
}

a.navbar-link.login:hover {
    color: #e04c40
}

.btn.focus, .btn:focus, .btn:hover {
    color: #fff;
    text-decoration: none;
    background-color: #1485ee;
    border: none
}

.btn-default {
    color: #fff;
    background-color: #df4c40;
    border: none
}

.btn {
    font-family: Roboto;
    font-weight: 400
}
